* {
  margin: 0;
  padding: 0;
  border: 0;
}

#main {
  background-color: black;
}
#wrapper {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
  max-width: 100%;
  padding: 10px;
  background-color: black;
}
#title {
  color: #e8e8e8;
  text-align: center;
}
h1 h2 {
  font-family: "Molengo", Georgia, Times, serif;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  color: #e8e8e8;
}

body {
  margin: 0;
}

#image {
  border: double #e8e8e8;
  border-radius: 15px;
  max-width: 100%;
}
#img-caption {
  text-align: center;
}

.responsive {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #333333, black);
    position: fixed;
    margin: 0 0 0 0;
    top: 0px;
    z-index: 9999;
    width: 100%;
}

nav ul {
text-align: center;
margin: 0;
padding: 0;
list-style: none;
}  

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-container {
  padding: 20px;
  flex: 1;
  display: inline-grid;
  grid-gap: 20px 20px;
  grid-template-areas: 
    'early early'
    'science awards'
}
.about-item1 {
  text-indent: 30px;
  color: #e8e8e8;
  font-family: "Lekton", Helvetica, Arial, sans-serif;
  height: auto;
  border: double #e8e8e8;
  border-radius: 15px;
  padding: 25px;
  opacity: .9;
  background-image: radial-gradient(circle, #333333, black);
  grid-area: early;
}
.quote-container {
  padding: 20px;
  max-width: 100%;
}

.quote-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.quote-item {
  flex-basis: 45%;
  -ms-flex: auto;
  position: relative;
  color: #e8e8e8;
  max-width: 100%;
  height: auto;
  border: double #e8e8e8;
  border-radius: 15px;
  padding: 25px;
  opacity: .9;
  text-align: left;
  background-image: radial-gradient(circle, #333333, black);
  margin: 10px;
}
.quote{
  font-family: 'Allan', Georgia, Times, serif;
  font-size: 200%;
  text-indent: 0px;
}
.quote-sig {
  font-family: 'Cardo', Helvetica, Arial, sans-serif;
  font-size: 150%;
  text-align: right;
}
.contactbar {
  border-top: double #e8e8e8;
  border-left: double #e8e8e8;
  border-top-left-radius: 15px;
  text-align: center;
  }
.contactbar a {
  color: #e8e8e8;
  text-decoration: none;
} 
.contactbar p {
  font-family: monospace;
  color: #e8e8e8;
  text-transform: none;
}
footer {
  width: 300px;
  margin-left: auto;
  background-image: radial-gradient(circle, #333333, black);
}

@media screen and (max-width: 768px) {
	#wrapper {
		margin-top: 180px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	header {
		max-width: 100%;
  }
  
  nav li {
		display: block;	
		width: 100%;
		border-right: none;
  }
  
  @media(max-width: 1333px) {
    .quote-item {
      flex-basis: 45%;
    }
  }
  @media(max-width: 1073px) {
     .quote-item {
      flex-basis: 45%;
    }
  }
  @media(max-width: 815px) {
    .quote-item {
      flex-basis: 45%;
    }
  }
  @media(max-width: 555px) {
    .quote-item {
      flex-basis: 100%;
    }
  }
